.back-color img{
    filter: brightness(50%);
}
.half-width img{
    width:100%

}
.half-width{
    width: 50%;
}

.star{
    margin-left: 100px;
    
    
}
.link{
   
    text-decoration: none;
    
}
.fa-star.filled{
    color: orange;
    
}
.fa-star.emty{
    color: yellow;
}
@media only screen and (max-width:680px) {
   .visibility{
    visibility: hidden;
   }
   

}
@media only screen and (min-width:688px) and (max-width:992px){
    .visibility {
            visibility: hidden;
        }

}

    


    
    
